<launch>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyUSB0" />
    <param name="baud" value="57600" />
  </node>

  <!-- <node pkg="nda_bot" type="calculate_pedometry.py" name="calculate_pedometry" output="screen"></node> -->

  <node pkg="nda_bot" type="calculate_pedometry_v2.py" name="calculate_pedometry_v2" output="screen"></node>
  <node pkg="nda_bot" type="show_direction_to_waypoint.py" name="show_direction_to_waypoint" output="screen"></node>

  <node pkg="tf" type="static_transform_publisher" name="nda_bot_transform"
    args="0 0 0 0 0 0 /map /odom 100" />

  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find nda_bot)/rviz/nda_bot.rviz"></node> -->

</launch>