capture_directory: "~"
fixed_frame: map
target_frame: origin
fix_orientation: false
rotate_90: false
enable_antialiasing: true
show_displays: true
show_status_bar: true
show_capture_tools: true
window_width: 1848
window_height: 1016
view_scale: 0.7232127
offset_x: -54.41798
offset_y: 16.01289
use_latest_transforms: true
background: "#a0a0a4"
displays:
  - type: mapviz_plugins/tile_map
    name: new display
    config:
      visible: true
      collapsed: false
      custom_sources:
        - base_url: http://localhost:8080/wmts/gm_layer/gm_grid/{level}/{x}/{y}.png
          max_zoom: 19
          name: Google Maps
          type: wmts
        - base_url: https://tile.openstreetmap.org/{level}/{x}/{y}.png
          max_zoom: 18
          name: OpenStreetMap
          type: wmts
        - base_url: https://maps.stamen.com/terrain/#{level}/{x}/{y}
          max_zoom: 18
          name: Stamen Terrain
          type: wmts
      bing_api_key: ""
      source: OpenStreetMap
  - type: mapviz_plugins/tf_frame
    name: new display
    config:
      visible: true
      collapsed: false
      frame: base_link
      color: "#cc0000"
      draw_style: arrows
      position_tolerance: 0
      buffer_size: 1
      static_arrow_sizes: true
      arrow_size: 97
  - type: mapviz_plugins/tf_frame
    name: new display
    config:
      visible: true
      collapsed: false
      frame: waypoint_dir
      color: "#ffffff"
      draw_style: arrows
      position_tolerance: 0
      buffer_size: 1
      static_arrow_sizes: true
      arrow_size: 99
  - type: mapviz_plugins/marker
    name: new display
    config:
      visible: true
      collapsed: false
      topic: /waypoint_marker
  - type: mapviz_plugins/point_click_publisher
    name: new display
    config:
      visible: true
      collapsed: false
      topic: waypoint
      output_frame: /wgs84
  - type: mapviz_plugins/pose_array
    name: new display
    config:
      visible: true
      collapsed: false
      topic: /waypoint_posearray
      color: "#00ff00"
      draw_style: arrows
      position_tolerance: 0
      static_arrow_sizes: true
      arrow_size: 44
  - type: mapviz_plugins/navsat
    name: new display
    config:
      visible: true
      collapsed: false
      topic: /navsat/fix
      color: "#00ff00"
      draw_style: lines
      position_tolerance: 0
      buffer_size: 0
  - type: mapviz_plugins/navsat
    name: new display
    config:
      visible: true
      collapsed: false
      topic: /waypoint_lines
      color: "#fcaf3e"
      draw_style: lines
      position_tolerance: 0
      buffer_size: 0
  - type: mapviz_plugins/marker
    name: new display
    config:
      visible: true
      collapsed: false
      topic: /waypoint_distances