capture_directory: "~"
fixed_frame: map
target_frame: origin
fix_orientation: false
rotate_90: false
enable_antialiasing: true
show_displays: false
show_status_bar: true
show_capture_tools: true
window_width: 899
window_height: 453
view_scale: 0.03143741
offset_x: -0.7330767
offset_y: 0.6278274
use_latest_transforms: true
background: "#a0a0a4"
displays:
  - type: mapviz_plugins/tile_map
    name: Map
    config:
      visible: true
      collapsed: true
      custom_sources:
        - base_url: http://localhost:8080/wmts/gm_layer/gm_grid/{level}/{x}/{y}.png
          max_zoom: 19
          name: Google Maps
          type: wmts
        - base_url: https://tile.openstreetmap.org/{level}/{x}/{y}.png
          max_zoom: 18
          name: OpenStreetMap
          type: wmts
        - base_url: https://maps.stamen.com/terrain/#{level}/{x}/{y}
          max_zoom: 18
          name: Stamen Terrain
          type: wmts
      bing_api_key: ""
      source: OpenStreetMap
  - type: mapviz_plugins/tf_frame
    name: Direction to Next Waypoint
    config:
      visible: false
      collapsed: true
      frame: waypoint_dir
      color: "#000682"
      draw_style: arrows
      position_tolerance: 0
      buffer_size: 1
      static_arrow_sizes: true
      arrow_size: 99
      use_latest_transforms: false
  - type: mapviz_plugins/point_click_publisher
    name: Publish Waypoints
    config:
      visible: true
      collapsed: true
      topic: waypoint
      output_frame: /wgs84
  - type: mapviz_plugins/navsat
    name: Predicted Path
    config:
      visible: true
      collapsed: true
      topic: /navsat/fix
      color: "#04ac1d"
      draw_style: lines
      use_latest_transforms: false
      position_tolerance: 0
      buffer_size: 0
  - type: mapviz_plugins/marker
    name: Distance Between Waypoints
    config:
      visible: true
      collapsed: true
      topic: /waypoint_distances
  - type: mapviz_plugins/marker
    name: Line Connecting Waypoints
    config:
      visible: true
      collapsed: true
      topic: /waypoint_lines
  - type: mapviz_plugins/marker
    name: Waypoints
    config:
      visible: true
      collapsed: true
      topic: /waypoint_marker
  - type: mapviz_plugins/tf_frame
    name: Current Position
    config:
      visible: false
      collapsed: true
      frame: base_link
      color: "#cc0000"
      draw_style: arrows
      position_tolerance: 0
      buffer_size: 1
      static_arrow_sizes: true
      arrow_size: 97
      use_latest_transforms: false
  - type: mapviz_plugins/robot_image
    name: Current Pose
    config:
      visible: true
      collapsed: true
      frame: base_link
      image: /home/manpack_ws/src/map_view/scripts/red-direction.png
      width: 5
      height: 5
      offset_x: 0.5
      offset_y: 0
  - type: mapviz_plugins/robot_image
    name: Direction to Waypoint
    config:
      visible: true
      collapsed: true
      frame: waypoint_dir
      image: /home/manpack_ws/src/map_view/scripts/blue-direction.png
      width: 11
      height: 9
      offset_x: 1
      offset_y: 0
  - type: mapviz_plugins/string
    name: Magnetic Heading
    config:
      visible: true
      collapsed: true
      font: Sans,20,-1,5,75,0,0,0,0,0
      color: "#000000"
      topic: /magnetic_heading
      anchor: top left
      units: pixels
      offset_x: 0
      offset_y: 0
  - type: mapviz_plugins/string
    name: Latitude Longitude
    config:
      visible: true
      collapsed: true
      font: Sans,20,-1,5,75,0,0,0,0,0
      color: "#000000"
      topic: /lat_lon
      anchor: top left
      units: pixels
      offset_x: 0
      offset_y: 35
  - type: mapviz_plugins/string
    name: Easting Northing
    config:
      visible: true
      collapsed: true
      font: Sans,20,-1,5,75,0,0,0,0,0
      color: "#000000"
      topic: /easting_northing
      anchor: top left
      units: pixels
      offset_x: 0
      offset_y: 70
  - type: mapviz_plugins/string
    name: Total Steps
    config:
      visible: true
      collapsed: true
      font: Sans,20,-1,5,75,0,0,0,0,0
      color: "#000000"
      topic: /steps
      anchor: top left
      units: pixels
      offset_x: 0
      offset_y: 105
  - type: mapviz_plugins/string
    name: Distance Covered
    config:
      visible: true
      collapsed: true
      font: Sans,20,-1,5,75,0,0,0,0,0
      color: "#000000"
      topic: /distance
      anchor: top left
      units: pixels
      offset_x: 0
      offset_y: 140
  - type: mapviz_plugins/marker
    name: Total Waypoint Distance
    config:
      visible: true
      collapsed: true
      topic: /waypoint_total_distance