<launch>

  <node pkg="mapviz" type="mapviz" name="mapviz">
    <param name="config" value="$(find map_view)/config/mapviz.config"/>
  </node>

  <!-- <node pkg="map_view" type="start_mapproxy_docker.py" name="start_mapproxy_docker" output="screen"></node> -->

  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
    <param name="local_xy_frame" value="/map"/>
    <param name="local_xy_origin" value="auto"/>
    <param name="local_xy_origin" value="initial_pose"/>
    <rosparam file="$(find map_view)/config/initial_coordinates.yaml" command="load" />
    <remap from="fix" to="/navsat/fix"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /origin 100"  />

  <!-- <include file="$(find nda_bot)/launch/nda_bot.launch"/> -->
  <include file="$(find nda_bot)/launch/nda_bot_pedometry.launch"/>

  <include file="$(find view_sensor)/launch/sensors.launch" />



</launch>